/* CSS Document */
body,table,textarea{font-size:12px; font-family:"ו";}
body, div, dl, dt, dd, ul, ol, li,h1, h2, h3, h4, h5, h6, pre, code,form, fieldset, legend, input, button,
textarea, p, blockquote, th, td { margin:0px; padding: 0px;}
body{ margin:0px auto;color:#595959;}
em,u{font-style: normal;}
u{ text-decoration:none;}
dl,ul,ol,li{list-style:none;}
img{ border:0px;}
.HackBox{clear:both;}

a{color:#325E7F;text-decoration: none;}
a:hover{text-decoration: underline;}

.xiangDui{ position:relative;}

.fl {float: left;}
.fr {float: right;}

